section.tag
	h1 Articles tagged with #[em #{current.source}]:
	ul
		each article in slugs
			li
				a(href='/articles/' + article + '.html', title=public.articles._data[article].title) #{public.articles._data[article].title}

	a(href='/#taglist') (back to tags...)