section.article.fullpage
	span(class=spritePrefix+'-static-color') 
	h2 #{ title }
		span.small #{ subtitle }
	p #{ description }
	if links
		p For more information, see the following:
		ul
			each link, desc in links
				li.article-link
					span #{ desc }: 
					a(href=link) #{ link }
	if attachments
		p The following attachment(s) are available:
		ul
			each attachment, desc in attachments
				li.article-attachment
					a(href=attachment) #{ desc }

	if tags
		div.tags
			span Filed under: 
			ul
				each tag in tags
					li
						a(href='/tags/' + tag.toLowerCase() + '.html') #{ tag }
						
	#disqus_thread
		script.
			/**
			*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
			var disqus_config = function () {
				this.page.url = 'https://tommount.net/' + current.path.join('/') + '.html';
				this.page.identifier = 'article-' + current.source;
			};
			(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//tommount-net.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		noscript
			| Please enable JavaScript to view the 
			a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.


	a(href='/#articles') (back to articles...)
