doctype html 
html(lang='en') 
    head 
        meta(charset='utf-8') 
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1') 
        meta(name='description', content='Tom Mount - Full-Stack Developer') 
        meta(name='viewport', content='width=device-width, initial-scale=1') 

        link(rel='apple-touch-icon' sizes='57x57' href='/apple-touch-icon-57x57.png') 
        link(rel='apple-touch-icon' sizes='60x60' href='/apple-touch-icon-60x60.png') 
        link(rel='apple-touch-icon' sizes='72x72' href='/apple-touch-icon-72x72.png') 
        link(rel='apple-touch-icon' sizes='76x76' href='/apple-touch-icon-76x76.png') 
        link(rel='apple-touch-icon' sizes='114x114' href='/apple-touch-icon-114x114.png') 
        link(rel='apple-touch-icon' sizes='120x120' href='/apple-touch-icon-120x120.png') 
        link(rel='apple-touch-icon' sizes='144x144' href='/apple-touch-icon-144x144.png') 
        link(rel='apple-touch-icon' sizes='152x152' href='/apple-touch-icon-152x152.png') 
        link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon-180x180.png') 
        link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32') 
        link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192') 
        link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96') 
        link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16') 
        link(rel='manifest', href='/manifest.json') 
        link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5') 
        meta(name='apple-mobile-web-app-title', content='TM.net') 
        meta(name='application-name', content='TM.net') 
        meta(name='msapplication-TileColor', content='#da532c') 
        meta(name='msapplication-TileImage', content='/mstile-144x144.png') 
        meta(name='theme-color', content='#ffffff') 

        title Tom Mount - Full-Stack Developer 
        
        script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js') 
        
        link(href='https://fonts.googleapis.com/css?family=Martel+Sans:400,200,900', rel='stylesheet', type='text/css') 
        
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css') 

        <!--[if IE 8]> 
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css') 
        <![endif]--> 

        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css') 
        link(rel='stylesheet', href='/app.css', type='text/css') 

        link(rel='canonical' href='https://tommount.net/' + current.path.join("/") + '.html')

        script.
            var host = "tommount.net";
            if ((host == window.location.host) && (window.location.protocol != 'https:')) {
                window.location = window.location.toString().replace(/^http:/, "https:");
            }

    body 
        #layout.pure-g 
            .sidebar.pure-u-1.pure-u-md-1-4 
                .pure-menu-horizontal 
                    a.brand(href='/') 
                        h1.pure-menu-heading 
                            span.first-name T 
                            span.last-name M 
                    ul.pure-menu-list 
                        li.pure-menu-item 
                            a.pure-menu-link(href='/#about') About 
                        li.pure-menu-item 
                            a.pure-menu-link(href='/#work') Work 
                        li.pure-menu-item
                            a.pure-menu-link(href='/#articles') Articles
                        li.pure-menu-item
                            a.pure-menu-link(href='/#taglist') Tags
                        li.pure-menu-item 
                            a.pure-menu-link(href='/#contact') Contact 

            .content.pure-u-1.pure-u-md-3-4 
                != yield 

        #footer-wrapper.pure-g 
            #spacer.pure-u-md-1-4 
            .footer.pure-u-1.pure-u-md-3-4 
                ul 
                    li 
                        a.i-link(href='https://github.com/tmountjr', target='_blank') 
                            i.fa.fa-github 
                    li 
                        a.i-link(href='https://gitlab.com/u/tmountjr', target='_blank') 
                            i.fa.fa-gitlab 
                    li 
                        a.i-link(href='http://www.linkedin.com/in/tmountjr', target='_blank') 
                            i.fa.fa-linkedin 
                    li 
                        a.i-link(href='http://stackoverflow.com/users/749434/mounty', target='_blank') 
                            i.fa.fa-stack-overflow 

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js') 
        script(src='https://use.fontawesome.com/2d33f45fdb.js') 
        script. 
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ 
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), 
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) 
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); 
            ga('create', 'UA-78694948-1', 'auto'); 
            ga('send', 'pageview');