section.project
	span(class=spritePrefix+'-static-color')
	h2 #{ title }
	dl
		dt Role:
		dd #{ role }
		dt Technologies Used:
		dd
			each tech, index in techUsed
				|#{ tech }
				unless index == techUsed.length - 1
					|; 
		dt Description:
		dd #{ description }
		if challenges
			dt Challenges:
			dd #{ challenges }

	if images
		div.images-wrapper
			p
				em Project Images:
			div.images
				each image in images
					div
						img(src='/img/#{ image }.png')

	a(href='/#work') (back to work...) 
