section.about
    a.anchor#about 
    h2.section-header About
    p I'm Tom Mount. I'm a software engineer and web developer based in Philadelphia, PA.
    p Throughout my career I've work at jobs ranging from two-man consulting teams to Silicon Valley tech giants. I've created command-line processing scripts and built e-commerce apps and web presences for several Fortune 500 companies.
    p As an #[em engineer], I work closely with designers and project managers to ensure the product I deliver meets their highest standards.
    p As a #[em team lead], I communicate clearly with business product owners and the members of my team to ensure requirements, risks, and updates are clearly communicated to all parties.
    p As a #[em developer], I stay up-to-date with the latest trends, frameworks, and methods to ensure I can choose the right tool for every job.

section.work
    a.anchor#work 
    h2.section-header Work
    p I'm a veteran developer with experience in both front-end and back-end software engineering, as well as hardware architecture. I got my start writing system administration tools in VBScript, which made the transition to .NET (C# and VB) that much easier when the time came. From there, I began working on web-based projects, where I became familiar with the traditional web languages and tools like PHP, HTML, CSS, and Javascript, interacting with a range of databases including traditional SQL servers like MySQL and PostgreSQL, as well as NoSQL databases like Firebase. I've also worked extensively on Java/Oracle e-commerce platforms. In my spare time, and for client projects, I enjoy learning new languages and frameworks; some of my recent projects are built with Vue and Node and incorporate templating languages such as Blade, Jade, and Mustache/Handlebars.
    p I've assembled a short list of some of the projects I'm most proud to have worked on. Click on a client logo to view more information.
    each projectDetails, projectName in public._data
        .pure-g 
            .project.pure-u-1 
                h3 
                    a(class=projectName + '-sprite', href='/' + projectName + '.html', title=projectDetails.title) #{projectDetails.title}

section.articles
    a.anchor#articles 
    h2.section-header Articles
    p As a lead developer, I've had the opportunity to lead sessions with my teams designed to highlight new technologies, best practices, and new workflows to further their skills and careers. This section is where I'll put articles, slide decks, and how-tos that have benefitted my teams and which highlight how I try to improve the efficiency and scalability of my teams. Some of these entries will also include links to third-party sites or repositories, whether mine or someone else's.
    each articleDetails, articleName in public.articles._data
        .pure-g
            .article.pure-u-1
                h3
                    a(class=articleName + '-sprite', href='/articles/' + articleName + '.html', title=articleDetails.title) #{articleDetails.title}
                    span.small (#{articleDetails.subtitle})

section.taglist
    a.anchor#taglist
    h2 All Article Tags
    p Below is a list of all tags used by the articles on this site.

    ul
    each tagData, tag in public.tags._data
        li
            a(href='/tags/' + tag + '.html') #{tag}
            span  (#{tagData.slugs.length})

section.contact
    a.anchor#contact 
    h2.section-header Contact
    p I do take on the occasional side project, so if you'd like to contact me about a freelance project, fill out the contact form below and I'll get back to you as soon as I can.
    p Also, check out my work on #[a(href='https://github.com/tmountjr', target='_blank') GitHub] and #[a(href='https://gitlab.com/u/tmountjr', target='_blank') GitLab], take a look at my experience on #[a(href='http://www.linkedin.com/in/tmountjr', target='_blank') LinkedIn], and see what kind of questions I ask and answer at #[a(href='http://stackoverflow.com/users/749434/mounty', target='_blank') StackOverflow].

    form.pure-form.pure-form-stacked(action='https://formspree.io/tmountjr@gmail.com', method='POST')
        input(type='hidden', name='_subject' value='porfolio contact request') 
        input(type='hidden' name='_next' value='/thanks.html')

        label(for='name') Name
        input(name='name', type='text', placeholder='Enter your name', required) 

        label(for='email') Email
        input(name='_replyto', type='email', placeholder='Enter your email', required) 

        label(for='message') Message
        textarea(name='message', rows='5', placeholder='Leave a message...', required)

        button.pure-button(type='submit') Send!